
<div class="bookings container mt-large">
  <% @bookings.each do |booking| %>
    <div class="card text-center mb-2">
      <div class="card-body">
        <p> <%= cl_image_tag  booking.vehicle.photo.key, height: 200 %></p>
        <h5 class="card-title">Usuario: <%= booking.user.full_name %></h5>
        <p class="card-text"><strong>Vehiculo Modelo: </strong><%=booking.vehicle.model %></p>
        <p class="card-text"><strong>Vehiculo Licencia: </strong><%=booking.vehicle.license %></p>
      </div>
    </div>
  <% end %>
</div>
<div class="mt-10">
  <%= link_to "Nueva reservación", new_booking_path, class: "btn btn-primary " %>
</div>