<div class='container my-5'>
  <div class="d-flex">
    <div class="pb-5">
        <div class="card h-100">
          <div class="card-body">
            <p> <%= cl_image_tag @vehicle.photo.key, height: 200 %></p>
            <h1 class="card-title"><%= @vehicle.category %></h1>
            <p class="card-text"><strong>Licencia: </strong><%= @vehicle.license %></p>
            <p class="card-text"><strong>Modelo: </strong><%= @vehicle.model %></p>
            <p class="card-text"><strong>Descripcion :</strong><%= @vehicle.description %></p>
            <p class="card-text"><strong>Precio por dia: </strong> s/. <%= @vehicle.price %></p>
              <%= link_to 'Editar', edit_vehicle_path(@vehicle), class: "btn btn-success" %>
              <%= link_to 'Eliminar', vehicle_path(@vehicle), class: "btn btn-primary", method: :delete %>
              <%= link_to 'Rentar', new_booking_path(@vehicle), class: "btn btn-primary" %>
          </div>
        </div>
    </div>
  </div>
</div>